HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.pem
.docker
.claude
*app.key


/.assets/
/Presentation/
/References/
/Report/
Abstract.pdf
Acknowledgements.pdf
Code.zip
Declaration.pdf
Dissertation_DengPan_v2.pdf


/Code/mail-server/bpmail/
/Code/mail-server/c-ares-1.34.4/
/Code/mail-server/gmime-3.2.15/
/Code/mail-server/ION-DTN/
/Code/mail-server/mbedtls-2.28.8/
/Code/thunderbird-profile/
/Code/thunderbird-profile-2/